.tododay {
  text-align: center;
  margin-bottom: 30px;
  position: relative;

  p {
    width: 200px;
    font-size: 1.1rem;
    background-color: #d2d0ff;
    line-height: 2.5;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    color: #333;
  }
  div {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    &:first-child {
      top: -8px;
    }
    &:last-child {
      top: 10px;
      z-index: -20;
    }
  }
}
